@use "../../partials/mixins" as *;
@use "../../partials/variables" as *;

.homePage {
  background-image: url("../../assets/images/main-background.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;

  &__headerWrapper{
        border-bottom: 0.5rem solid rgb(180, 42, 190);

  }
  &__header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    @include tablet {
      margin: auto;
      max-width: 768px;
    }
  }

  &__title {
    color: rgb(255, 94, 212);
    font-family: "Courier New", Courier, monospace;
    font-size: 4rem;
  }

  &__me {
    width: 6rem;
    height: 6rem;
    border-radius: 10rem;
    // margin-bottom: 1rem;
    position: relative;
    bottom: 1rem;
    // right: 3rem;
  }

  &__headerButtonWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__header {
    padding-top: 2rem;
    // padding-bottom: 2rem;
    // border-bottom: 0.5rem solid rgb(180, 42, 190);
    // border-radius: 1rem;
  }

  &__headerButton {
    padding: 1rem;
    background-color: pink;
    border-radius: 1rem;
    width: 6rem;
    margin-right: 1rem;
  }

  &__link {
    text-decoration: none;
    color: white;
    text-align: center;
  }
  &__linkContent {
    border: 0.3rem solid rgb(242, 216, 236);
    padding: 0.4rem;
    border-radius: 1rem;
  }

  &__context {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    text-align: center;
    height: 50%;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin-top: 2rem;
    margin-bottom: 2rem;

    @include tablet {
      padding: 0 5rem;
      padding-bottom: 4rem;
      max-width: 768px;
      margin: auto;
    }
  }

  &__name {
    font-family: monospace;
    width: 100%;
    // background: #61e5d5;
    // background-color: black;
    border-radius: 1rem;
    // font-size: 1.8rem;
    font-size: 2.8rem;
    padding: 1rem;
    // color: rgb(94 96 255);
    color: white;

    @include tablet {
      font-size: 4rem;
    }
  }

  &__intro {
    font-family: monospace;
    width: 100%;
    background: #61e5d5;
    border-radius: 1rem;
    font-size: 1.8rem;
    padding: 1rem;
    color: rgb(94 96 255);

    @include tablet {
      font-size: 2rem;
    }
  }

  &__skills {
    @include tablet {
      padding: 0 5rem;
      margin: auto;
      max-width: 768px;
    }
  }

  &__skillsSubheader {
    font-family: monospace;
    background: rgb(255, 94, 212);
    width: 10rem;
    border-radius: 0.5rem;
    text-align: center;
    color: white;

    @include tablet {
      margin: auto;
    }
  }

  &__skillImage {
    width: 10rem;
    height: 10rem;
  }

  &__skillWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin-top: 2rem;

    @include tablet {
      // gap: 5rem;
      // width: 50rem;
      padding: 0 5rem;
    }
  }

  &__eachSkill {
    background-color: white;
    border-radius: 1rem;
    margin-bottom: 2rem;
    background: linear-gradient(
      to bottom,
      rgba(191, 97, 255, 1),
      rgba(25, 156, 93, 0.792)
    );
  }

  &__github {
    width: 7rem;
  }

  &__footerWrapper {
    display: flex;
    align-items: center;

    @include tablet {
      padding: 0 5rem;
      max-width: 768px;
      margin: auto;
    }
  }

  &__linkledin {
    height: 5rem;
    width: 5rem;
  }

  &__dropdown {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }
}
