.homePage {
  background-image: url("../../assets/images/main-background.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__title {
    color: rgb(255, 94, 212);
    font-family: "Courier New", Courier, monospace;
    font-size: 4rem;
  }

  &__header {
    padding-top: 2rem;
    // padding-bottom: 2rem;
    border-bottom: 0.5rem solid rgb(180, 42, 190);
    // border-radius: 1rem;
  }

  &__context {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    text-align: center;
    height: 50%;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  &__name {
    font-family: monospace;
    width: 100%;
    // background: #61e5d5;
    background-color: black;
    border-radius: 1rem;
    // font-size: 1.8rem;
    font-size: 2.8rem;
    padding: 1rem;
    color: rgb(94 96 255);
    // color: white;
  }

  &__intro {
    font-family: monospace;
    width: 100%;
    background: #61e5d5;
    border-radius: 1rem;
    font-size: 1.8rem;
    padding: 1rem;
    color: rgb(94 96 255);
  }

  //   &__skills{
  //     display: flex;
  //     flex-wrap: wrap;
  //   }

  &__skillsSubheader {
    font-family: monospace;
    background: rgb(255, 94, 212);
    width: 10rem;
    border-radius: 0.5rem;
    text-align: center;
    color: white;
  }

  &__skillImage {
    width: 10rem;
    height: 10rem;
  }

  &__skillWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin-top: 2rem;
  }

  &__eachSkill {
    background-color: white;
    border-radius: 1rem;
    margin-bottom: 2rem;
    background: linear-gradient(to bottom,rgba(191,97,255,1),rgba(25,156,93,.792));
  }

  &__github
   {
    width: 7rem;
  }

  &__footerWrapper{
    display: flex;
    align-items: center;
  }

  &__linkledin{
    height: 5rem;
    width: 5rem;
  }
}
